@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600,700|Work+Sans:400,500,600");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
}

#preloader {
    background-color: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

p,
.paragraph {
    font-weight: 400;
    color: #666;
    font-size: 16px;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

h1,
.h1 {
    font-size: 60px;
}

@media (max-width: 400px) {

    h1,
    .h1 {
        font-size: 30px;
    }
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}


/* 1.3 Button style */

.btn {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 35px;
    font-weight: 600;
    white-space: nowrap;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn-primary {
    background: #483836;
    color: #fff;
}

.btn-primary:active {
    background: #2C150F !important;
}

.btn-primary:hover {
    background: #F2A444;
}

.btn-secondary {
    background: #2C150F;
    color: #fff;
}

.btn-secondary:active {
    background: #483836 !important;
}

.btn-secondary:hover {
    background: #F2A444 !important;
    background: #F2A444;
}

.btn-light {
    background: #fff;
    color: #222;
    border: 2px solid #fff;
}

.btn-light:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn-outline {
    background: transparent;
    color: #fff;
    border: 2px solid #FE910D;
}

.btn-outline:hover {
    background: #FE910D;
    color: #fff;
    border: 2px solid #2E1E1A;
    font-weight: bold;

}

.btn-sm {
    padding: 13px 40px !important;
}

/* 1.2 common style */

body {
    background-color: #fff;
    overflow-x: hidden;
}

::-moz-selection {
    background: #483836;
    color: #fff;
}

::selection {
    background: #483836;
    color: #fff;
}

/* preloader */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol,
ul {
    list-style-type: none;
    margin: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    transition: 0.2s ease;
}



a.text-dark:hover,
a.text-white:hover {
    color: #FB9921 !important;
}

a,
button {
    cursor: pointer;
}

.outline-0 {
    outline: 0;
}

.d-unset {
    display: unset !important;
}

.slick-slide {
    outline: 0;
}

.centralized {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hilighted {
    background: #303032;
    color: #919E4D;
    border-radius: 3px;
    padding: 2px 5px;
}

.section {
    padding: 100px 0;
}

@media (max-width: 575px) {
    .section {
        padding: 80px 0;
    }
}

.section-sm {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 55px;
}

.section-title-sm {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #666;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
}

.overlay-dark {
    position: relative;
}

.overlay-dark::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.overlay-primary {
    position: relative;
}

.overlay-primary::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #e84444;
    opacity: 0.6;
}

.overlay-white {
    position: relative;
}

.overlay-white::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.7;
}

.overlay-rounded::before {
    border-radius: 5px;
}

.section-title-border {
    position: relative;
}

.section-title-border::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #FB9921;
}

.section-title-border::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #FB9921;
    box-shadow: 0 0 0 5px #fff;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-border-gray {
    position: relative;
}

.section-title-border-gray::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #FB9921;
}

.section-title-border-gray::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5f5f5;
    border: 2px solid #FB9921;
    box-shadow: 0 0 0 5px #f5f5f5;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-border-half {
    position: relative;
}

.section-title-border-half::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #FB9921;
    bottom: -14px;
    left: 0;
}

.section-title-border-half::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 15px;
    bottom: -10px;
    background: #FB9921;
}

.section-title-border-half-white {
    position: relative;
}

.section-title-border-half-white::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    bottom: -14px;
    left: 0;
}

.section-title-border-half-white::after {
    background: #fff;
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 15px;
    bottom: -10px;
}

/* 1.2.1 page title */

.page-title {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 100px;
}

/* breadcrumb */

.breadcrumb {
    background-color: transparent !important;
    justify-content: center;
}

.breadcrumb li,
.breadcrumb a {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 0 10px;
}

.breadcrumb a {
    position: relative;
}

.breadcrumb a::before {
    position: absolute;
    content: "/";
    right: -17px;
    top: 2px;
    height: 12px;
}

/* 1.2.2 404 page start */

.page-404 {
    padding: 600px 0 60px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .page-404 {
        padding: 450px 0 50px;
    }
}

@media (max-width: 575px) {
    .page-404 {
        padding-top: 250px;
    }
}

@media (max-width: 400px) {
    .page-404 {
        padding-top: 150px;
    }
}

.page-404 h1 {
    font-size: 40px;
}

/* 404 page end */

/* play-icon */

.play-icon {
    width: 85px;
    height: 85px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.play-icon:focus {
    outline: 0;
}

.play-icon i {
    line-height: 79px;
    display: block;
    font-size: 30px;
    color: #fff;
}

/* round icon */

.round-icon {
    height: 70px;
    min-width: 70px;
    max-width: 70px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;

    display: inline-block;
}

/* 18. squre icon */

.square-icon {
    height: 65px;
    width: 65px;
    background: #FB9921;
    color: #fff;
    font-size: 35px;
    line-height: 65px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

/* team social icon */

.social-icon-lg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    display: inline-block;
}

.social-icon-lg i {
    margin: 0;
    color: #fff;
}

.box-shadow {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

.golden {
    color: #efaf27 !important;
}

.bg-gray {
    background-color: #f5f5f5;
}

.bg-primary {
    background-color: #e84444 !important;
}

.bg-secondary {
    background-color: #2C150F !important;
}

.text-primary {
    color: #FB9921 !important;
}


.bg-facebook {
    background-color: #4267b2;
}

.bg-twitter {
    background-color: #449de8;
}

.bg-linkedin {
    background-color: #2f6ea3;
}

.bg-google {
    background-color: #e62211;
}

.text-color {
    color: #666;
}

.text-dark {
    color: #222;
}

.text-underline {
    text-decoration: underline;
}

.text-underline:hover {
    text-decoration: underline;
}

.font-primary {
    font-family: "Poppins", sans-serif;
}

.font-secondary {
    font-family: "Open Sans", sans-serif;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .mb-md-50 {
        margin-bottom: 50px;
    }

    .product-image img {
        width: 100%;
    }

}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.py-10 {
    padding: 10px 0;
}

.py-50 {
    padding: 50px 0;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-160 {
    padding: 160px 0;
}

.ml-65 {
    margin-left: 65px;
}

.pb-xl-200-lg-100 {
    padding-bottom: 200px;
}

@media (max-width: 1199px) {
    .pb-xl-200-lg-100 {
        padding-bottom: 100px;
    }
}

.mb-xl-150-lg-100 {
    margin-bottom: 150px;
}

@media (max-width: 1199px) {
    .mb-xl-150-lg-100 {
        margin-bottom: 100px;
    }
}

.translateY-25 {
    transform: translateY(25px);
}

.translateY-10 {
    transform: translateY(-10px);
}

.translateY-33 {
    transform: translateY(-33px);
}

/* 2. Navigation */

.top-header {
    background: #2C150F;
}

@media (max-width: 575px) {
    .top-header ul {
        text-align: center;
    }
}

.top-header ul li {
    margin: 15px 0;
}

@media (max-width: 575px) {
    .top-header ul li {
        margin: 10px 0;
    }
}

.top-header ul li a {
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #e5e5e5;
    color: #bcbcbd;
}

@media (max-width: 575px) {
    .top-header ul li a {
        border: 0;
    }
}

.top-header ul li a span {
    color: #fff;
    font-weight: bold;
}

.top-header ul li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.navigation .navbar {
    padding: 0;
    background: #fff !important;
    position: relative;
}

.navigation .navbar-brand {
    position: absolute;
    left: 0;
    top: -52px;
    height: 170px;
    width: 220px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 9;
}

@media (max-width: 991px) {
    .navigation .navbar-brand {
        position: relative;
        height: unset;
        width: unset;
        box-shadow: none;
        top: 55px;
        background: none;
    }

    .navigation .navbar-brand img {
        height: 110px;
        width: 110px;
    }
}

.navigation .navbar-brand img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navigation .navbar .nav-item {
    padding: 28px 0;
}

@media (max-width: 991px) {
    .navigation .navbar .nav-item {
        padding: 0;
    }
}

.navigation .navbar .nav-item .nav-link {
    padding: 15px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222;
    text-transform: uppercase;
    transition: 0.2s ease;
    font-size: 16px;
}

@media (max-width: 1199px) {
    .navigation .navbar .nav-item .nav-link {
        font-size: 12px;
        padding: 15px 6px;
    }
}

@media (max-width: 991px) {
    .navigation .navbar .nav-item .nav-link {
        padding: 15px 0;
        font-size: 14px;
        text-align: center;
    }
}

.navigation .navbar .nav-item .nav-link:hover {
    color: #FE910D;
}

.navigation .navbar .nav-item.nav-button {
    padding: 28px 0 28px 30px;
}

@media (max-width: 991px) {
    .navigation .navbar .nav-item.nav-button {
        padding: 0;
        margin-bottom: 20px;
    }
}

.navigation .navbar .nav-item.nav-button .nav-link {
    color: #fff;
}

.navigation .navbar .nav-item.nav-button .nav-link.pgactive {
    color: #e84444;
}

.navigation .navbar .nav-item.active .nav-link {
    color: #FE910D;
}

.navigation .navbar .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

.navigation .navbar .dropdown-menu {
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
    padding: 40px 30px;
    border: 0;
    border-radius: 0;
    top: 80%;
    left: -20px;
    display: block;
    visibility: hidden;
    transition: 0.3s ease;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
}

@media (max-width: 991px) {
    .navigation .navbar .dropdown-menu {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
        transform-origin: unset;
    }
}

.navigation .navbar .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}

@media (max-width: 991px) {
    .navigation .navbar .dropdown-menu.show {
        display: block;
    }
}

.navigation .navbar .dropdown-item {
    position: relative;
    color: #848484;
    transition: 0.2s ease;
}

.navigation .navbar .dropdown-item:not(:last-child) {
    margin-bottom: 20px;
}

.navigation .navbar .dropdown-item:hover {
    color: #e84444;
    text-decoration: underline;
    background: transparent;
}

.navigation .navbar .dropdown-item::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 12px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #848484;
    border: 1px solid #fff;
    display: inline-block;
    box-shadow: 0 0 0 2px #848484;
}

@media (max-width: 991px) {
    .navigation .navbar .dropdown-item {
        text-align: center;
    }

    .navigation .navbar .dropdown-item::before {
        display: none;
    }
}



/* 3. hero area */

.hero-slider.slick-slider {
    margin-bottom: 80px;
}

.hero-slider [data-animation-in] {
    opacity: 0;
}

.hero-slider::after {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    z-index: 40;
}


.hero-slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 690px;
    outline: 0;
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 90;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(84, 84, 85, 0.5);
    color: #fff;
    border: 0;
    font-size: 25px;
    line-height: 70px;
    opacity: 0;
    transition: all linear 0.2s;
}

.hero-content h4 {
    letter-spacing: 2px;
    color: #fff;

}

@media (max-width: 575px) {

    .hero-slider .prevArrow,
    .hero-slider .nextArrow {
        display: none;
    }
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
    outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
    background: #FF910C;
}

.hero-slider .prevArrow {
    left: 20px;
}

.hero-slider .nextArrow {
    right: 20px;
}

.hero-slider:hover .prevArrow,
.hero-slider:hover .nextArrow {
    opacity: 1;
}

.hero-slider .slick-dots {
    bottom: -81px;
    padding-left: 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.hero-slider .slick-dots li {
    width: 295px;
    height: 80px;
    background: #fff;
    margin: 0;
    display: inline-block;
    position: relative;
}

@media (max-width: 1199px) {
    .hero-slider .slick-dots li {
        width: 230px;
    }
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li {
        width: 180px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li {
        width: 120px;
    }
}

@media (max-width: 575px) {
    .hero-slider .slick-dots li {
        width: 25%;
    }
}

.hero-slider .slick-dots li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -12px;
    height: 25px;
    width: 25px;
    background: #2C150F;
    transform: translateX(-50%) rotate(-45deg);
    opacity: 0;
}

.hero-slider .slick-dots li a {
    display: block;
    position: relative;
    text-align: center;
    transition: 0.3s ease;
    color: #2C150F;
}

.hero-slider .slick-dots li a i {
    display: inline-block;
    font-size: 30px;
    line-height: 80px;
    margin-right: 15px;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li a i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li a i {
        margin: 0;
    }
}

.hero-slider .slick-dots li a span {
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li a span {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li a span {
        display: none;
    }
}

.hero-slider .slick-dots li.slick-active {
    background: #2C150F;
}

.hero-slider .slick-dots li.slick-active a {
    color: #fff;
}

.hero-slider .slick-dots li.slick-active::before {
    opacity: 1;
}

.servicesButtonContainer {
    margin: 100px 0 0 0;
}

.servicesBtn {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 35px;
    font-weight: 600;
    white-space: nowrap;
    border: 0;
    background-color: #2C150F;
    color: #fff;

}

.servicesBtn:hover {
    background-color: #F2A444;
    color: #fff;
}

/*--------------------------------------------------------------
	swipwe slider
--------------------------------------------------------------*/


.swiper-slider {
    width: 100%;
    min-height: calc(100vh - 150px);
    display: flex;
    position: relative;
    z-index: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.swiper-slide {
    overflow: hidden;
}

.swiper-slide .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(232, 68, 68, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #e84444;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

.swiper-button-prev,
.swiper-button-next {
    background: transparent;
    width: auto;
    height: auto;
    opacity: 0.3;
    text-align: center;
    transition: all 0.3s;
}

@media (max-width: 767px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 1;
}

.swiper-button-prev {
    left: 25px;
}

.swiper-button-prev::before {
    font-family: "themify";
    content: "";
    font-size: 40px;
    color: #e84444;
}

.swiper-button-next {
    right: 25px;
}

.swiper-button-next::before {
    font-family: "themify";
    content: "";
    font-size: 40px;
    color: #e84444;
}

/* 5. progrgess bar start */

.progressbar-title {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 7px;
    color: #222 !important;
}

.progress {
    border-radius: 35px;
    overflow: visible;
    margin-bottom: 35px;
    /* 5.2 progressbar value */
}

.progress-bar {
    background-color: #303032;
    border-radius: 35px;
    position: relative;
}

.progress-bar-value {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    background: #303032;
    padding: 5px 9px;
    position: absolute;
    top: -35px;
    right: -15px;
    border-radius: 5px;
}

.progress-bar-value::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    background: #303032;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(-45deg);
}

/* progrgess bar End */

/* 6. mission section start */

.card-header:first-child {
    border-radius: 35px;
}

/* 7. promo video section start */


/* promo video section end */

/* 8. testimonial section start */

.testimonial-slider {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.testimonial-slider .prevArrow,
.testimonial-slider .nextArrow {
    position: absolute;
    top: 85px;
    border: 0;
    font-size: 20px;
    background: transparent;
    color: #e84444;
    z-index: 9;
}

.testimonial-slider .prevArrow:focus,
.testimonial-slider .nextArrow:focus {
    outline: 0;
}

.testimonial-slider .prevArrow {
    right: 90px;
}

.testimonial-slider .nextArrow {
    right: 50px;
}

.testimonial-slider .slick-disabled {
    color: #e5e5e5;
}

.testimonial-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #f5f5f5;
    color: #e84444;
    font-size: 25px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

/* testimonial section end */

/* 10. client logo slider start */

.client-logo-slider .slick-track {
    display: flex;
    align-items: center;
}

/* client logo slider end */

/* 11. fun-facts section start */

.fun-facts {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* fun-facts section end */

/* 12. consultation section start */

.consultation {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* consultation section end */

/* 16. call to action start */

.cta {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* card */

.card-img-wrapper {
    position: relative;
}

.card-img-wrapper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.card-body-2 {
    position: relative;
    transition: 0.2s ease;
    border-radius: 0 0 5px 5px;
}

.card .card-text {
    font-size: 18px;
    font-family: sans-serif, sans-serif;
}

.card-body-2::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: #fff;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    transition: 0.2s ease;
}

.card:hover .card-img-wrapper::before {
    opacity: 0.4;
}

.card:hover .card-body-2 {
    background: #e84444;
}

.card:hover .card-body-2 h5,
.card:hover .card-body-2 h6,
.card:hover .card-body-2 a {
    color: #fff;
}

.card:hover .card-body-2::before {
    background: #e84444;
}

.overlay-rounded-top::before {
    border-radius: 5px 5px 0 0;
}

/* 13. about section */

.about {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* 13.4 about video */
    /* 13.6 about slider */
}

.about-video {
    min-height: 300px;
}

.about-slider {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.about-slider .prevArrow,
.about-slider .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 0;
    line-height: 55px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
}

.about-slider .prevArrow:focus,
.about-slider .nextArrow:focus {
    outline: 0;
}

.about-slider .prevArrow:hover,
.about-slider .nextArrow:hover {
    background: #e84444;
    color: #fff;
}

.about-slider .prevArrow {
    left: 25px;
}

.about-slider .nextArrow {
    right: 25px;
}

/* 13.8 ceo section start */

.ceo-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

/* ceo section end */

/* 14.3 clients */

.clients {
    background-position: center right;
    background-size: 50%;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .clients {
        background-size: cover !important;
        background-position: center center;
        text-align: center;
    }
}

.clients ul li {
    height: 66px;
}

.clients ul li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

/* 14.4 process */

.process-item {
    width: 330px;
}

@media (max-width: 1199px) {
    .process-item {
        width: unset;
    }
}

.process-item-number {
    position: absolute;
    left: -35px;
    top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.1);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #222;
}

@media (max-width: 1199px) {
    .process-item-number {
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.process-item h5 {
    margin-bottom: 5px;
    color: #e84444;
}

img.arrow-top {
    position: absolute;
    top: 220px;
    right: 250px;
}

@media (max-width: 1199px) {
    img.arrow-top {
        display: none;
    }
}

img.arrow-bottom {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

@media (max-width: 1199px) {
    img.arrow-bottom {
        display: none;
    }
}

/* service single start */

.service-menu li.active {
    position: relative;
}

.service-menu li.active a {
    background: #303032;
    color: #fff !important;
}

.service-menu li.active::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #303032;
    top: 50%;
    right: -7px;
    transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 991px) {
    .service-menu li.active::before {
        display: none;
    }
}

.service-menu li:hover a {
    color: #fff !important;
    background: #303032;
}

/* service single end */

/* 15. work section */

.work {
    /* 15.1 work slider */
}

.work-slider {
    /* 15.2 slick dots */
}

.work-slider-image {
    position: relative;
}

.work-slider-image .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    opacity: 0;
    transition: 0.2s;
}

.work-slider-image .image-overlay i {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 24px;
    transition: 0.2s ease;
    padding: 10px;
}

.work-slider-image .image-overlay i:hover {
    font-size: 30px;
}

.work-slider-image .image-overlay a.h4 {
    position: absolute;
    bottom: 50px;
    color: #fff;
    transition: 0.2s ease;
    transform: translateY(20px);
    opacity: 0;
}

.work-slider-image .image-overlay a.h4:hover {
    color: #FB9921;
}

.work-slider-image .image-overlay p {
    position: absolute;
    bottom: 15px;
    color: #fff;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.work-slider-image:hover .image-overlay {
    opacity: 1;
}

.work-slider-image:hover a.h4,
.work-slider-image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.work-slider .slick-dots {
    padding-left: 0;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.work-slider .slick-dots li {
    margin: 0 14px;
}

@media (max-width: 400px) {
    .work-slider .slick-dots li {
        margin: 0 2px;
    }
}

.work-slider .slick-dots li:first-child {
    margin-left: 0;
}

.work-slider .slick-dots li button {
    height: 10px;
    width: 40px;
    border-radius: 25px;
    color: transparent;
    overflow: hidden;
    border: 0;
    border: 2px solid #e5e5e5;
    background: transparent;
    outline: 0;
    display: block;
}

.work-slider .slick-dots li button::before {
    display: none;
}

@media (max-width: 400px) {
    .work-slider .slick-dots li button {
        width: 10px;
    }
}

.work-slider .slick-dots li.slick-active button {
    border-color: #FB9921;
}

/* 19. project section */

.project {
    /* 19.1 project menu */
    /* 19.2 project item */
}

.project-menu ul li {
    padding: 5px 20px;
    border-radius: 35px;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    background: #f5f5f5;
    margin: 0 10px 25px;
}

.project-menu ul li.active {
    background: #FB9921;
    color: #fff;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.2s ease;
}

.project-info a {
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 40px;
    transform: translateY(20px);
    opacity: 0;
}

.project-info a:hover {
    color: #FB9921;
}

.project-info p {
    position: absolute;
    left: 25px;
    bottom: 0;
    color: #fff;
    transition: 0.2s ease;
    transform: translateY(20px);
    opacity: 0;
    transition-delay: 0.1s;
}

.project-info p i {
    margin-right: 5px;
}

.project-info:hover {
    opacity: 1;
}

.project-info:hover a {
    transform: translateY(0);
    opacity: 1;
}

.project-info:hover p {
    transform: translateY(0);
    opacity: 0.7;
}

/* 19.3 project single page start */

/* 19.4 nav tabs */

.nav-tabs {
    border: 0;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .nav-tabs {
        justify-content: center;
    }
}

.nav-tabs .nav-item:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 575px) {
    .nav-tabs .nav-item {
        margin-bottom: 10px;
    }
}

.nav-tabs .nav-item .nav-link {
    padding: 10px 30px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    border-radius: 45px;
    text-align: center;
    vertical-align: middle;
    color: #222;
    transition: 0.2s ease;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.nav-tabs .nav-item .active {
    background: #fff;
    color: #e84444;
    border-color: #e84444;
}

/* 19.5 tab content */

.tab-content {
    padding: 40px;
    margin-bottom: 60px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.tab-content-item {
    margin-left: 20px;
}

.tab-content-item:not(:last-child) {
    margin-bottom: 45px;
}

.tab-content-item h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #222;
    margin-bottom: 25px;
    position: relative;
}

.tab-content-item h6::before {
    position: absolute;
    content: "";
    font-family: "themify";
    top: 0;
    left: -20px;
    color: #e84444;
}

.tab-content-item p {
    margin-bottom: 0;
}

/* project single page end */

/* 21.4.3 pagination */

.pagination .page-item .page-link {
    background: transparent;
    border: none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    transition: 0.3s ease;
}

.pagination .page-item .page-link:hover {
    color: #e84444;
}

.pagination .page-item.active .page-link {
    color: #e84444;
}

.pagination .prev,
.pagination .next {
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.pagination .prev:hover,
.pagination .next:hover {
    border-color: #e84444;
}

.pagination .prev:hover .page-link,
.pagination .next:hover .page-link {
    color: #e84444;
}

.pagination .prev {
    margin-right: 30px;
}

.pagination .next {
    margin-left: 30px;
}

/* 21.4.1 post slider */

.post-slider {
    position: relative;
}

.post-slider .prevArrow,
.post-slider .nextArrow {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    top: 50%;
    border: 0;
    font-size: 20px;
    background: transparent;
    color: #e84444;
    z-index: 9;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
}

.post-slider .prevArrow:focus,
.post-slider .nextArrow:focus {
    outline: 0;
}

.post-slider .prevArrow:hover,
.post-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.25);
}

.post-slider .prevArrow {
    left: 40px;
}

.post-slider .nextArrow {
    right: 40px;
}

.post-slider .slick-disabled {
    color: #e5e5e5;
}

/* 21.4.4 sidebar */

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    background: #f5f5f5;
    border-radius: 30px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
}

.search-wrapper::before {
    content: "";
    font-family: "themify";
    position: absolute;
    top: 50%;
    right: 20px;
    color: #666;
    transform: translateY(-50%);
}

ul.tag-list li {
    margin-bottom: 7px;
}

ul.tag-list li a {
    color: #666;
    padding: 10px 12px;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    font-size: 13px;
    transition: 0.3s ease;
}

ul.tag-list li a:hover {
    background: #e84444;
    border-color: #e84444;
    color: #fff;
}

.newsletter .form-control {
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 13px;
}

/* 21.5 blog single start */

/* share icon */

.share-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.share-icon i {
    color: #fff;
}

/* 21.5.7 blog sidebar */

.sidebar-box-shadow {
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.06);
}

/* blog single end */

/* 22. contact section */

.form-control {
    border-radius: 5px;
    padding: 0 15px 2px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #666;
}

.form-control:focus {
    border-color: #e84444;
    box-shadow: none !important;
}

.form-control::-moz-placeholder {
    color: #666;
}

.form-control:-ms-input-placeholder {
    color: #666;
}

.form-control::placeholder {
    color: #666;
}

/* 22.3 google map */

.map {
    position: relative;
}

.map #map_canvas {
    height: 450px;
}

/* 23.1 signup greetings */

.signup {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
    /* 23.2 signup form */
}

.signup-greeting {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0 140px;
    text-align: center;
}

@media (max-width: 1199px) {
    .signup-greeting {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .signup-greeting {
        padding-top: 200px;
    }
}

@media (max-width: 575px) {
    .signup-greeting {
        padding-top: 400px;
    }
}

.signup-greeting img {
    margin-bottom: 50px;
    position: relative;
    z-index: 9;
}

.signup-greeting h4 {
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

.signup-greeting p {
    color: #fff;
    position: relative;
    z-index: 9;
    margin: 0 40px;
}

.signup-form {
    padding: 50px 50px 50px 35px;
}

@media (max-width: 1199px) {
    .signup-form {
        padding: 50px 15px 50px 0;
    }
}

@media (max-width: 767px) {
    .signup-form {
        padding: 50px;
    }
}

@media (max-width: 575px) {
    .signup-form {
        text-align: center;
    }
}

.signup-form h4 {
    float: left;
    font-size: 26px;
    margin-bottom: 35px;
}

@media (max-width: 575px) {
    .signup-form h4 {
        float: unset;
    }
}

.signup-form a {
    color: #e84444;
}

.signup-form .btn {
    margin-top: 30px;
}

.signup-form p.signup-with {
    display: inline-block;
    margin-top: 42px;
}

.signup-form ul {
    margin-top: 37px;
    display: inline-block;
}

.signup-form ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 24. comming soon */

.comming-soon {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.comming-soon h1 {
    font-size: 50px;
    font-weight: 600;
}

@media (max-width: 575px) {
    .comming-soon h1 {
        font-size: 30px;
    }
}

.comming-soon .form-control {
    height: 45px;
    border-radius: 45px;
    position: relative;
    background: transparent;
    border: 1px solid #e5e5e5;
    color: #fff;
    margin-bottom: 40px;
}

.comming-soon .form-control::-moz-placeholder {
    color: #666;
}

.comming-soon .form-control:-ms-input-placeholder {
    color: #666;
}

.comming-soon .form-control::placeholder {
    color: #666;
}

.comming-soon .btn-email {
    position: absolute;
    top: 0;
    right: 15px;
    background: #fff;
    border: 0;
    color: #e84444;
    border-radius: 45px;
    height: 45px;
    padding: 0 50px;
}

@media (max-width: 575px) {
    .comming-soon .btn-email {
        padding: 0 10px;
    }
}

.comming-soon i {
    color: #5c5c5c;
    margin: 0 15px;
    transition: 0.2s ease;
    font-size: 24px;
}

.comming-soon i:hover {
    color: #e84444;
}

/* 24.1 syotimer */

.syotimer {
    text-align: center;
    margin: 0 auto 40px;
}

.syotimer-cell:last-child .syotimer-cell__value::before {
    opacity: 0;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 25px;
}

@media (max-width: 1199px) {
    .syotimer-cell {
        margin: 0 20px;
    }
}

@media (max-width: 575px) {
    .syotimer-cell {
        margin: 0 10px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell {
        margin: 0 5px;
    }
}

.syotimer-cell__value {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

@media (max-width: 1199px) {
    .syotimer-cell__value {
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    .syotimer-cell__value {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell__value {
        font-size: 24px;
    }
}

.syotimer-cell__value::before {
    position: absolute;
    content: ":";
    height: 30px;
    color: #fff;
    right: -30px;
    top: 0;
}

@media (max-width: 575px) {
    .syotimer-cell__value::before {
        right: -20px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell__value::before {
        right: -12px;
    }
}

.syotimer-cell__unit {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

/* 25.1 social link */

.social-icon-outline {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    transition: 0.2s ease;
    display: inline-block;
}

.social-icon-outline i {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.social-icon-outline:hover {
    border-color: #FB9921;
}

/* 25.2 footer link */
footer {
    background-color: #2C150F;
}

.footer-links {
    padding-left: 18px;

}

.footer-links li {
    margin-bottom: 20px;
    position: relative;

}

.footer-links li::before {
    position: absolute;
    font-family: "themify";
    content: "";
    top: 0;
    left: -20px;
    height: 12px;
    width: auto;
    color: #fff;
}

.footer-links li a {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    transition: 0.2s ease;
    display: block;
}

.footer-links li a:hover {
    text-decoration: underline;
    color: #FB9921;
}

/* 25.3 subcription */

.form-control.subscribe {
    width: 100%;
    border-radius: 35px;
    border: 0;
    padding: 0 20px !important;
    height: 50px;
}

/* subscribe button */

.btn-subscribe {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background: #FB9921;
    transition: all linear 0.2s;
}

.btn-subscribe:hover {
    padding-left: 15px;
}

.btn-subscribe:focus {
    outline: 0;
}

/* back to top button */

.back-to-top {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    background: #303032;
    top: -25px;
    right: 10px;
    background-color: #2C150F;
    border: 1px solid;
    text-align: center;
    display: block;
    transition: 0.2s ease;
}

.back-to-top i {
    line-height: 50px;
}

.back-to-top:hover {
    border-color: #FB9921;
    background-color: #FB9921;
}

.back-to-top:focus {
    outline: 0;
}

/*# sourceMappingURL=maps/style.css.map */

/*Product slide show */


.product-content {
    border: 2px solid #dfe5e9;
    margin-bottom: 20px;
    margin-top: 12px;
    background: #fff;
    /* padding: 4px; */
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}


.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 238px;
    overflow: hidden;
    position: relative;
}

.product-content .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
    background: #fff;

}

.product-content .description p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

.product-content .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 0
}

.product-content .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.product-content .product-deatil span.tag1 {
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    height: 50px;
    padding: 13px 0;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 50px
}

.product-content .product-deatil span.sale {
    background-color: #21c2f8
}

.product-content .product-deatil span.discount {
    background-color: #71e134
}

.product-content .product-deatil span.hot {
    background-color: #fa9442
}

.product-content .description {
    font-size: 12.5px;
    line-height: 20px;
    padding: 10px 14px 16px 19px;
    background: #fff
}

.product-content .product-info {
    padding: 11px 19px 10px 20px
}

.product-content .product-info a.add-to-cart {
    color: #2f383d;
    font-size: 13px;
    padding-left: 16px
}

.product-content name.a {
    padding: 5px 10px;
    margin-left: 16px
}

.product-info.smart-form .btn {
    padding: 6px 12px;
    margin-left: 12px;
    margin-top: -10px
}

.product-entry .product-deatil {
    border-bottom: 1px solid #dfe5e9;
    padding-bottom: 17px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative
}

.product-entry .product-deatil h5 a {
    color: #2f383d;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none
}

.product-entry .product-deatil h5 a span {
    color: #9aa7af;
    display: block;
    font-size: 13px
}

.load-more-btn {
    background-color: #21c2f8;
    border-bottom: 2px solid #037ca5;
    border-radius: 2px;
    border-top: 2px solid #0cf;
    margin-top: 20px;
    padding: 9px 0;
    width: 100%
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
    color: #21c2f8;
    font-family: Lato, sans-serif;
    font-size: 24px;
    line-height: 20px
}

.product-info.smart-form .rating label {
    margin-top: 0
}

.product-wrap .product-image span.tag2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 11px;
    text-align: center
}

.product-wrap .product-image span.sale {
    background-color: #57889c
}

.product-wrap .product-image span.hot {
    background-color: #a90329
}

.shop-btn {
    position: relative
}

.shop-btn>span {
    background: #a90329;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    font-weight: 700;
    border-radius: 50%;
    padding: 2px 4px 3px !important;
    text-align: center;
    line-height: normal;
    width: 19px;
    top: -7px;
    left: -7px
}

.description-tabs {
    padding: 30px 0 5px !important
}

.description-tabs .tab-content {
    padding: 10px 0
}

.product-deatil {
    padding: 30px 30px 50px
}

.product-deatil hr+.description-tabs {
    padding: 0 0 5px !important
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
    background: none !important
}

.product-deatil .glyphicon {
    color: #3276b1
}

.product-deatil .product-image {
    border-right: 0px solid #fff !important
}

.product-deatil .name {
    margin-top: 0;
    margin-bottom: 0
}

.product-deatil .name small {
    display: block
}

.product-deatil .name a {
    margin-left: 0
}

.product-deatil .price-container {
    font-size: 24px;
    margin: 0;
    font-weight: 300
}

.product-deatil .price-container small {
    font-size: 12px
}

.product-deatil .fa-2x {
    font-size: 16px !important
}

.product-deatil .fa-2x>h5 {
    font-size: 12px;
    margin: 0
}

.product-deatil .fa-2x+a,
.product-deatil .fa-2x+a+a {
    font-size: 13px
}

.product-deatil .certified {
    margin-top: 10px
}

.product-deatil .certified ul {
    padding-left: 0
}

.product-deatil .certified ul li:not(first-child) {
    margin-left: -3px
}

.product-deatil .certified ul li {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 13px 19px
}

.product-deatil .certified ul li:first-child {
    border-right: none
}

.product-deatil .certified ul li a {
    text-align: left;
    font-size: 12px;
    color: #6d7a83;
    line-height: 16px;
    text-decoration: none
}

.product-deatil .certified ul li a span {
    display: block;
    color: #21c2f8;
    font-size: 13px;
    font-weight: 700;
    text-align: center
}

.product-deatil .message-text {
    width: calc(100% - 70px)
}

@media only screen and (min-width:1024px) {
    .product-content div[class*=col-md-4] {
        padding-right: 0
    }

    .product-content div[class*=col-md-8] {
        padding: 0 13px 0 0
    }

    .product-wrap div[class*=col-md-5] {
        padding-right: 0
    }

    .product-wrap div[class*=col-md-7] {
        padding: 0 13px 0 0
    }

    .product-content .product-image {
        border-right: 1px solid #dfe5e9
    }

    .product-content .product-info {
        position: relative
    }
}

/* Our team Section style  */
.team {
    padding-top: 50px;
}

.team .member {
    margin-top: 20px;
    overflow: hidden;
}

.team .member .pic {
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 260px;
}

.team .member .member-pic img {
    max-width: 100%;
}

.team .member h4 {
    color: #2C150F;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.team .member h4:hover {
    color: #FB9921;
    transition: all .5s 0s ease;
}

.team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    margin-top: -3px;
}

.team .member .social {
    margin-top: 15px;
}

.team .member .social a {
    color: #2C150F;
}

.team .member .social a i {
    font-size: 20px;
    margin-left: 8px;
    transition: all .4s 0s ease;
}

.team .member .social a:first-child:hover {
    color: #0DB0CB;
}

.team .member .social a:nth-child(2):hover {
    color: #0b4b9e;
}

.team .member .social a:nth-child(3):hover {
    color: #B435A6;
}

.team .member .social a:last-child:hover {
    color: #0A66C2;
}

/* End Our Team Section style  */

/*  contact section style  */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf');
}



/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
  [ Contact 1 ]*/

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 20px;

    background: #F5F5F5;
    background: -webkit-linear-gradient(#2C150F);
    background: -o-linear-gradient(left, #0072ff, #00c6ff);
    background: -moz-linear-gradient(left, #0072ff, #00c6ff);
    background: linear-gradient(left, #0072ff, #00c6ff);

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 90px 130px 88px 148px;
}

/*------------------------------------------------------------------
  [  ]*/
.contact1-pic {
    width: 296px;
}

.contact1-pic img {
    max-width: 100%;
}


/*------------------------------------------------------------------
  [  ]*/
.contact1-form {
    width: 390px;
}

.contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

input.input1+.shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
}

textarea.input1+.shadow-input1 {
    border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87, 184, 70, 0.5);
}

.input1:focus+.shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 80px 30px;
        opacity: 0;
    }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #2C150F;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn i {
    margin-left: 7px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn:hover {
    background: #FB9921;
}

.contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}




/*------------------------------------------------------------------
  [ Responsive ]*/

@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }

    .contact1-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact1 {
        padding: 90px 80px 88px 90px;
    }

    .contact1-pic {
        width: 35%;
    }

    .contact1-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact1 {
        padding: 90px 80px 88px 80px;
    }

    .contact1-pic {
        display: none;
    }

    .contact1-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container-contact1 {
        padding: 90px 15px 88px 15px;
    }
}


/*------------------------------------------------------------------
  [ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}